<div class="main-wrapper">
  <h1>Order History</h1>
  <div class="filters-header" [formGroup]="formGroup">
    <section class="filter-section status-section">
      <div>Status</div>
      <div class="status-checkboxes">
        <p><mat-checkbox formControlName="pending">Pending</mat-checkbox></p>
        <p><mat-checkbox formControlName="inProgress">In Progress</mat-checkbox></p>
        <p><mat-checkbox formControlName="completed">Completed</mat-checkbox></p>
      </div>
    </section>
    <section class="filter-section">
      <div>Product Line</div>
      <mat-form-field>
        <mat-select placeholder="All Product Lines" formControlName="productLines" [(value)]="selectedProductLines" multiple>
          <mat-option *ngFor="let productLine of productLines" [value]="productLine">{{productLine}}</mat-option>
        </mat-select>
      </mat-form-field>
    </section>

    <section class="filter-section date-range-section">
      <div class="date-field">
        <div>From</div>
        <mat-form-field>
          <input matInput  placeholder="Select date" [matDatepicker]="pickerFrom" formControlName="dateFrom">
          <mat-datepicker-toggle matIconSuffix [for]="pickerFrom"></mat-datepicker-toggle>
          <mat-datepicker #pickerFrom></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="date-field">
        <div>To</div>
        <mat-form-field>
          <input matInput [matDatepicker]="pickerTo" formControlName="dateTo" placeholder="Select date">
          <mat-datepicker-toggle  matIconSuffix [for]="pickerTo"></mat-datepicker-toggle>
          <mat-datepicker #pickerTo></mat-datepicker>
        </mat-form-field>
      </div>
    </section>

    <mat-form-field class="example-full-width">
      <input matInput class="search" type="number" placeholder="Search for Order Number" formControlName="orderNumberSearch">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 responsive-table">
    <ng-container *ngFor="let column of columnsMappings" [matColumnDef]="column.id">
      <th mat-header-cell *matHeaderCellDef> {{column.headerTitle}} </th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="column.id === 'status'">
          <div class="status-indicator" [ngClass]="element[column.id]"></div>
        </ng-container>
        <ng-container *ngIf="column.id === 'dataRequested'">
          {{element[column.id] | date:'dd.MM.yyyy'}}
        </ng-container>
        <ng-container *ngIf="column.id !== 'dataRequested'">
          {{element[column.id]}}
        </ng-container>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns"></tr>
  </table>
</div>
