.filters-header {
  display: flex;
  gap: 10px;
  .date-range-section {
    display: flex;
    gap: 10px;
    .date-field {
      display: flex;
      flex-direction: column;
    }
  }
  .status-section {
    display: flex;
    flex-direction: column;
    padding: 10px;
    .status-checkboxes {
      display: flex;
    }
  }
}

.main-wrapper {
  height: calc(100% - 60px);
  padding: 30px;
}

.status-indicator {
  background: aqua;
  display: inline-block;
  width: 22px;
  height: 12px;
  margin-right: 0.5rem;
}

.status-indicator.In\ Progress {
  background-color: indianred;
}

.status-indicator.Completed {
  background-color: green;
}

.status-indicator.Pending {
  background-color: yellow;
}
