<div class="main-wrapper">
  <h1>Order History</h1>
  <div class="filters-header" [formGroup]="formGroup">
    <div class="left-filters-part">
      <section class="filter-section status-section">
        <div>Status</div>
        <div class="status-checkboxes">
          <p><mat-checkbox formControlName="pending">Pending</mat-checkbox></p>
          <p><mat-checkbox formControlName="inProgress">In Progress</mat-checkbox></p>
          <p><mat-checkbox formControlName="completed">Completed</mat-checkbox></p>
        </div>
      </section>
      <section class="filter-section">
        <div>Product Line</div>
        <mat-form-field class="product-line-field">
          <mat-select placeholder="All Product Lines" formControlName="productLines" [(value)]="selectedProductLines" multiple>
            <mat-option *ngFor="let productLine of productLines" [value]="productLine">{{productLine}}</mat-option>
          </mat-select>
        </mat-form-field>
      </section>
      <section class="filter-section date-range-section">
        <div class="date-field">
          <div>From</div>
          <mat-form-field>
            <input matInput  placeholder="Select date" [matDatepicker]="pickerFrom" formControlName="dateFrom">
            <mat-datepicker-toggle matIconSuffix [for]="pickerFrom"></mat-datepicker-toggle>
            <mat-datepicker #pickerFrom></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="date-field">
          <div>To</div>
          <mat-form-field>
            <input matInput [matDatepicker]="pickerTo" formControlName="dateTo" placeholder="Select date">
            <mat-datepicker-toggle  matIconSuffix [for]="pickerTo"></mat-datepicker-toggle>
            <mat-datepicker #pickerTo></mat-datepicker>
          </mat-form-field>
        </div>
      </section>
    </div>
    <mat-form-field class="search-field">
      <input matInput class="search" type="number" placeholder="Search for Order Number" formControlName="orderNumberSearch">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>
  <div class="list-header" [ngStyle]="{'grid-template-columns': getGridTemplateColumns()}">
    <div class="cell" *ngFor="let column of columnsMappings">{{ column.headerTitle }}</div>
  </div>
  <div class="list-body">
    <div [ngStyle]="{'grid-template-columns': getGridTemplateColumns()}" class="row" *ngFor="let row of dataSource">
      <div class="cell" *ngFor="let column of columnsMappings">
        <ng-container *ngIf="column.id === 'status'">
          <div class="status-indicator" [ngClass]="{
            'in-progress': row.status === 'In Progress',
            'pending': row.status === 'Pending',
            'completed': row.status === 'Completed',
          }"></div>
        </ng-container>
        <ng-container *ngIf="column.id === 'dataRequested'">
          {{ row[column.id] | date:'dd.MM.yyyy'}}
        </ng-container>
        <ng-container *ngIf="column.id !== 'dataRequested'">
          {{ row[column.id]}}
        </ng-container>
      </div>
    </div>
  </div>
  <ng-container *ngIf="dataSource.length === 0">
    <div class="no-data">
      <mat-icon>info</mat-icon>
      <h1>Nothing to display</h1>
      <h4>Please, adjust filters to see more results.</h4>
    </div>
  </ng-container>
</div>
